<div class="item">
    <a href="{{ item.url }}" {% if nofollow %} rel="nofollow" {% endif %}>
        <div class="item_content">
            <table>
                <tr>
                    <td>
                        {{ item.text }}
                        {% if item.additional is not empty %}
                            <span class="additional">
                                ({{ item.additional }})
                            </span>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    </a>
</div>
