<div
    class="
        list
        {% if list.active %} active {% else %} inactive {% endif %}
        loadable
    "
    data-upload-url-prefix="{{ list.uploadUrlPrefix }}"
>
    <h1 class="items_header">
        <a
            {#href="{{ url(path, {#}
                {#_locale: _locale,#}
                {#is_desktop_version: is_desktop_version#}
            {#}) }}"#}
            {#onclick="switch_to_list($(this).parent().parent())"#}
        >
            {{ list.header }}
            <div
                class="item_corner"
                style="border-color:{{ random_color() }};"
            ></div>
        </a>
    </h1>
    <div class="items">
        {% include '@App/list/items.html.twig' with {
            items: list.items,
            nofollow: list.nofollow
        } %}
        <div class="af"></div>
    </div>
</div>
