{#require: page#}

{% include '@App/list/pagination.html.twig' with {page: page} %}

<div id="parallango">
    <table>
        {{ page.text|raw }}
    </table>
</div>

{% include '@App/list/pagination.html.twig' with {page: page} %}
